body {
	font-family: 'Montserrat';
	background-position: static;
	background: url(../img/apple-desk-imac-39284.jpg) center center / cover;
}

ul, li {
	display: block;
}

textarea {
	display: block;
}

th, td {
	padding: 3px 15px;
}

td:first-child {
	width: 70%;
}

td:not(:last-child) {
	border-right: 1px solid rgba(56, 22, 0, 1);
}

textarea {
	font-family: 'Montserrat';
	color: #fff;
	background-color: rgba(56, 22, 0, 0.3);
	border: 2px solid #fe0002;
	outline: none;
	transition: 0.3s ease all;
	padding: 5px 10px;
	resize: none;
}

.intro-main {
	background-color: rgba(125,125,125,.6);
	color: #fff;
	padding: 40px 0;
	margin-bottom: 50px;
}

.main-title {
	margin-bottom: 30px;
}

.brief-slide {
	background-color: rgba(56, 22, 0, 0.5);
	color: #fff;
	/*min-height: 1030px;*/
	padding: 60px 100px 80px;
}

.brief-caption th {
	padding-bottom: 30px;
}

.brief-title {
	position: relative;
	background-position: 50% 100%;
	margin-bottom: 30px;
}

.brief-title:after {
	display: block;
	content: '';
	position: absolute;
	background-color: #fe0002;
	width: 100px;
	height: 6px;
}

.brief-name {
	font-size: 18px;
	margin: 15px 0 5px;
}

.content > textarea,
.content > input {
	margin-left: 40px;
}

.btn-send {
	color: #fe0002;
	border: 2px solid #fff;
	background-color: #fff;
	transition: 0.4s ease all;
	outline: none;
	padding: 10px 50px;
	margin-top: 50px;
}

.btn-send:hover {
	color: #fff;
	border: 2px solid #fe0002;
	background-color: #fe0002;
}

.brief-counter {
	position: absolute;
	left: calc(50% - 37px);
	bottom: 0;
	color: #fff;
	font-size: 20px;
	text-align: center;
	z-index: 10;
}

.manager-wrap {
	margin-top: 50px;
}

.manager-wrap p {
	font-size: 20px;
}

.manager-wrap input {
	font-family: 'Montserrat';
	color: #fff;
	border: 2px solid #fe0002;
	background-color: rgba(56, 22, 0, 0.3);
	outline: none;
	transition: 0.3s ease all;
	max-width: 600px;
	width: 100%;
	padding: 6px 15px;
}

/*=== custom code ===*/

.disabled {
	color: transparent !important;
}

.owl-nav button {
	font-size: 60px !important;
	outline: none;
}

.owl-nav .owl-prev span {
	color: #fff;
	position: absolute;
	bottom: 4%;
	left: 30%;
}

.owl-nav .owl-next span {
	color: #fff;
	position: absolute;
	bottom: 4%;
	right: 30%;
}

.owl-nav .disabled span {
	cursor: none;
	color: transparent;
}

.owl-nav {
	position: absolute;
	width: 100%;
}

/*=== input file ===*/

.inputfile {
	margin-top: 15px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.ac-custom label.file-1::before,
.ac-custom label.file-2::before {
	border: none;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

input.addEventListener('focus', function(){ input.classList.add( 'has-focus' ); });
input.addEventListener('blur', function(){ input.classList.remove( 'has-focus' ); });
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

label.file-1,
label.file-2 {
	background-color: rgba(56, 22, 0, 0.3);
	font-weight: 300;
	font-size: 18px;
	border: 2px solid #fe0002;
	outline: none;
	transition: 0.3s ease all;
	padding: 6px 12px 6px 35px;
}

label.file-1 svg,
label.file-2 svg {
	left: 12px;
}

label.file-1 svg path,
label.file-2 svg path {
	stroke: #fff;
	stroke-width: 40px;
}